/*Step 9*/
html {
	box-sizing: border-box;
}

/*Step 10*/
*,
::before,
::after {
	box-sizing: inherit;
}

/*Step 11*/
#piano {
	background: #5CB8E4;
	width: 992px;
	height: 290px;
	/*Step 12*/
	margin: 80px auto;
	/*Step 15*/
	padding: 90px 20px 0 20px;
	/*step 23*/
	position: relative;
	/*step 24*/
	border-radius: 10px;
}

/*Step 13*/
.keys {
	background-color: #040404;
	width: 949px;
	height: 180px;
	/*Step 14*/
	padding-left: 2px;
	/*step 31*/
	overflow: hidden;
}

/*Step 16*/
.key {
	background-color: #ffffff;
	position: relative;
	width: 41px;
	height: 175px;
	/*step 17*/
	margin: 2px;
	float: left;
	border-radius: 0 0 3px 3px;	
}

/*step 18*/
.key.black--key::after {
	background-color: #1d1e22;
	content: "";
	/*step 19*/
	position: absolute;
	left: -18px;
	/*step 20*/
	width: 32px;
	height: 100px;
	/*step 26*/
	border-radius: 0 0 3px 3px;
}

/*step 22*/
.logo {
	width: 200px;
	position: absolute;
	top: 23px;
}

/*step 27*/
@media (max-width: 768px) {
	/*step 28*/
	#piano {
		width: 358px;
	}
	/*step 29*/
	.keys {
		width: 318px;
	}
	/*step 30*/
	.logo {
		width: 150px;
	}
}

/*step 32*/
@media (min-width: 769px) and (max-width: 1199px){
	#piano {
		width: 675px;
	}
	.keys {
		width: 633px;
	}
}